<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.membersMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.members">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="memberNumber" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nickname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createtime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="goodsid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, memberNumber, nickname, createtime, goodsid
  </sql>
  <select id="selectAllmembers" resultMap="BaseResultMap">
    SELECT id, `memberNumber`, nickname, createtime, goodsid
    FROM member_management.members
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from members
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from members
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.pojo.members">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      jdbc
    </selectKey>
    insert into members (memberNumber, nickname, createtime, 
      goodsid)
    values (#{memberNumber,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{goodsid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.members">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      jdbc
    </selectKey>
    insert into members
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberNumber != null">
        memberNumber,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberNumber != null">
        #{memberNumber,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pojo.members">
    update members
    <set>
      <if test="memberNumber != null">
        memberNumber = #{memberNumber,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.pojo.members">
    update members
    set memberNumber = #{memberNumber,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      goodsid = #{goodsid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>